.car-settings-form {
    margin-top: 20px;
}

.car-settings-color {
    height: 45px;
    width: 100px;
    cursor: pointer;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
