@import url(https://fonts.googleapis.com/css?family=Lora);

.button_margin_5 {
    margin: 5px;
    padding: 10px 20px;
    display: block;
    height: 100%;
    width: 100%;
}

.li_margin_5 {
    margin-right: 27px;
    margin-bottom: 10px;
    font-size: 15px;
    float: left;
}

.ul_margin_5 {
    list-style: none; /*убираем маркеры списка*/
    margin: 10px; /*убираем отступы*/
    padding-left: 5px; /*убираем отступы*/
}

a {
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
}


