.track-player {
    margin-top: 20px;
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
    padding: 5px 0;
}

.track-color {
    width: 100%;
    height: 10px;
}

.player-top {
    display: flex;
    justify-content: space-between;
}

.player-acceleration {
    text-align: center;
}

.player-bottom {
    cursor: pointer;
}
